[submodule "fernflower-decompiler"]
	path = fernflower-decompiler
	url = https://github.com/yuweijun/fernflower-decompiler.git
[submodule "jd-cmd"]
	path = jd-cmd
	url = https://github.com/kwart/jd-cmd.git
[submodule "jvm-tools"]
	path = jvm-tools
	url = https://github.com/aragozin/jvm-tools.git
[submodule "greys-anatomy"]
	path = greys-anatomy
	url = https://github.com/oldmanpushcart/greys-anatomy.git
